:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --blue: #0255FF;
    --purple: #682ae9;
    --bg-rgb: 14,18,18;
    --cont-hp: #0e1212;
    --transtion-time: 800ms;
    --skills-box-width: calc(100vw/4);
    --skills-box-height: calc(100vw/6);
}

body{
    height:100vh;
    width: 100vw;
    margin:0;
    overflow-x: hidden;
}


/* firefox scroll bar*/
html{
    scrollbar-width: thin;
    scrollbar-color: var(--blue) var(--cont-hp);
}

/* other browsers scroll bar */
html::-webkit-scrollbar{
    width: 0.4166666666666667vw;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}
/* html::-webkit-scrollbar-thumb:hover{
    background-color: #0256ffdc;
} */
html::-webkit-scrollbar-track{
    background-color: var(--cont-hp);
}

p{
    margin: 0;
}

/* header */
.card-container{
    width: 100vw;
    height: 100vh;
}
header{
    display: block;
}

.header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 999;
    background-color: rgba(255,255,255,0.05);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    margin: 0 auto;
    padding-left: 0.3vw;
    /* background-color: var(--cont-hp); */
    background-color: black;
}

.header-navbar {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* left: 76.7%; ORIGINAL LEFT*/
    right: 5em;
    transform: translateX(200%);
    transition: transform var(--transtion-time) ease-in, var(--transtion-time); 
}

.translate-right{
    transform: translateX(200%);
}

.translate-left{
    transform: translateX(0%);
}

ul{
    list-style: none;
}
.header-navbar{
    z-index: 999;
    opacity: 0;
}

.nav-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #0255FF;
    gap: 1.5em;
    padding: 0;
    margin: 0;
}

.nav-elements li a{
    position: relative;
    text-decoration: none;
    color: #0255FF;
    transition: color .4s ease-out;

}

.nav-elements li a:hover{
    color:#EEEEEE;
}

.logo-space{
    position: fixed;
    z-index: 999;
    margin-top: 0.1%;
}

.social-logos{
    margin-top: 1.5%;

}

.social-logos svg path{
    position: relative;
    fill: var(--blue);
    transition: fill .4s ease-out;
}

.social-logos:hover svg path {
    fill: #EEEEEE;
    transition: fill .4s ease-out;
}

img.kash-logo{
    width: 80px;
    height: 34.5px;
    display: block; 
}

img.menu-logo{
    margin-top: -13%;
    width: 34.5px;
    height: 34.5px;
    display: block;
    transition: var(--transtion-time);
    cursor: pointer;
}

.navbar-space{
    position: fixed;
    z-index: 999;
    margin-top: 0.35%;
    left:96.2vw;
}

.nav-link{
    cursor: pointer;
}

/* home page */
.homepage{
    height:100vh;
    width: 100vw;
    /* background-color: var(--cont-hp) */
    background-color: black;
}
.home-page-bg-image{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.intro-text{
    width: 100vw;
    height: 100vh;
    position: absolute;
    color:white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 80px;
}

.intro-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.full-stack-text{
    color: var(--blue)
}

/* page 1 */
.page-1{
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(19, 19, 19); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.turb{
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.displacement {
    filter: url(#displacementFilter);
}

.aboutme-text{
    position: absolute;
    color: white;
    font-size: 60px;
    text-wrap: wrap;
    width: 80vw;
    z-index: 1;
}
.blue-text{
    color: var(--blue);
}

/* page 2 */
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    gap:4vmin;
    background-color: black;
}

section{
    width: 50vw;
    padding: 5vw 1vw;
    display: block;
}
/* hmvb
.scroll-progress{
position: absolute;
width: 47vw;

}
.scroll-container{
    width: 100%;
    height: 3rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

mask{
    width: 0;
}
*/
section.projects-text{
    
    position: relative;
    color: white;
    font-size: 150px;
    margin-right: 50vw;
    width: 200px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    flex-direction: column;
}

    
span#word1{
    position: relative;
    left: 50%;
    
}

span#word2{
    position: relative;
    left: 100%;
    color:var(--blue);

}

/* page 3*/
.page-3{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.skills-page-text-container{
    padding-top: 3rem;
    position: absolute;
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.top-positioned-text, .bottom-positioned-text {
    flex-basis: 100%;    /* to force .bottom to wrap */
    display: flex;
    justify-content: space-between;
  }
.top-left-text{
    width: fit-content;
    height: fit-content;
    color: white;
    padding-left: 5.8rem;
    font-size: 5rem;
}
.top-right-text{
    width: fit-content;
    height: fit-content;
    color: var(--blue);
    padding-right: 6rem;
    font-size: 5rem;

}
.bottom-left-text{
    width: fit-content;
    height: fit-content;
    color: var(--blue);
    padding-left: 5.8rem;
    font-size: 5rem;

}
.bottom-right-text{
    width: fit-content;
    height: fit-content;
    color: white;
    padding-right: 6rem;
    font-size: 5rem;

}
.skills-container{
    /* padding-top: 3rem; */
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.skills-header h1{
    margin-bottom: 1rem;
}

.front-end-skills{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    width: var(--skills-box-width);
    height: var(--skills-box-height);
    top:calc((var(--skills-box-height)*0.03));
    left: calc(50% -(var(--skills-box-width)/2));
    border-radius: 8px;
    /* border: 4px solid var(--blue);  */
    display: flex;
    align-items: center;
    justify-content: center;
}
.front-end-skills-text{
    background-color: white;
    width: 95%;
    height: 93%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back-end-skills{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    width: var(--skills-box-width);
    height: var(--skills-box-height);
    top: calc(50vh - (var(--skills-box-height)/2));
    left: calc((var(--skills-box-width)*0.1));
    border-radius: 8px;
    /* border: 4px solid var(--blue); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-end-skills-text{
    background-color: white;
    width: 95%;
    height: 93%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.data-management-api-skills{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    width: var(--skills-box-width);
    height: var(--skills-box-height);
    top: calc(50vh - (var(--skills-box-height)/2));
    left: calc(100% - (var(--skills-box-width)*1.1));
    border-radius: 8px;
    /* border: 4px solid var(--blue); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-management-api-skills-text{
    background-color: white;
    width: 95%;
    height: 93%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.functional-skills{
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    width: var(--skills-box-width);
    height: var(--skills-box-height);
    left: calc(50% -(var(--skills-box-width)/2));
    top:calc(100vh - (var(--skills-box-height)*1.03));
    border-radius: 8px;
    /* border: 4px solid var(--blue); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.dev-tools-text{
    background-color: white;
    width: 95%;
    height: 93%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .list-of-front-end-skills li,
.list-of-back-end-skills li,
.list-of-data-api li,
.list-of-tools li {
    list-style: none;
    background-image: url('./icons/bullet-point.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.8rem 0.8rem;
    padding-left: 1.2rem;
}*/
.text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.list-of-front-end-skills-1,
.list-of-back-end-skills-1,
.list-of-data-api-1,
.list-of-tools-1,
.list-of-front-end-skills-2,
.list-of-back-end-skills-2,
.list-of-data-api-2,
.list-of-tools-2{
    margin: 0;
    padding: 0;
}
.list-of-front-end-skills-1 li,
.list-of-back-end-skills-1  li,
.list-of-data-api-1  li,
.list-of-tools-1  li,
.list-of-front-end-skills-2  li,
.list-of-back-end-skills-2  li,
.list-of-data-api-2  li,
.list-of-tools-2  li{
    padding: 0.7rem;
}


/* page 4 */
.page-4{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}

form{
    /* background: #1B1C24; */
    background: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
}

form h1{
    position: relative;
    left: 15%;
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 20px;
    margin-top: 17%;
    font-size: 60px;
}

form input, form textarea{
    position: relative;
    border: 0;
    margin:  10px 0;
    padding: 20px;
    outline: none;
    background:none;
    padding-left: 3px;
    font-size: 16px;
    border-bottom: 1px solid white;
    width: 40vw;
    left: 15%;
}

form input#name, form input#email, form textarea#message{
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.75)

}

form input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: rgb(170, 170, 170);

}

form textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: rgb(170, 170, 170);
}

form button{
    padding: 15px;
    color: white;
    background-color: var(--blue);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 15vw;
    position: relative;
    left: 15%;
    margin-top: 20px;
}

.social-images {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 40vw;
    height: 100vh;
}

span.socials-bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(-90deg);
    font-size: 170px;
    color: #EEEEEE;
}

/* .dialog-text{
    position: relative;
    margin-left: 5px;
    padding: 0;
    width: 115px;
    pointer-events: none;
    color: var(--blue);
    border: 0;
    background: none;
    opacity: 0.5;
    transition: 600ms;
}
.email-image{
    display: flex;
}

.email-image:hover{
    cursor: pointer;
} */
/* ... other styles ... */

li.social-icons {
    position: relative;
    width: 120px;
    z-index: 999;
}

.dialog-text {
    position: absolute;
    margin-left: 5px;
    padding: 0;
    width: 115px;
    pointer-events: none;
    color: var(--blue);
    border: 0;
    background: none;
    opacity: 0.5;
    transition: 800ms;
    top: 50px;
    left: calc(100% + 5px);
    pointer-events: none;
}

.email-image {
    display: flex;
}

.email-image:hover{
    cursor: pointer;
} 

.social-icon-track{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 82px;
    padding: 0px;
    margin-left: 135px;
    padding-top: 16px;
}

.social-icon-track-container{
    width: 0;
}


