:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --blue: #0255FF;
    --purple: #682ae9;
    --bg-rgb: 14,18,18;
    --cont-hp: #0e1212;
    --transtion-time: 800ms;
}

body{
    height:100vh;
    width: 100vw;
    margin:0;
    overflow-x: hidden;

}
p{
    margin: 0;
}
/* header */
header{
    display: block;
}

.header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    z-index: 999;
    background-color: rgba(255,255,255,0.05);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    margin: 0 auto;
    padding-left: 0.3vw;
    background-color: var(--cont-hp);
}
.header-navbar {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0 auto;
    left: 76.7%;
    transform: translateX(200%);
    transition: transform var(--transtion-time) ease-in, var(--transtion-time); 
}
.translate-right{
    transform: translateX(200%);
}
.translate-left{
    transform: translateX(0%);

}


ul{
    list-style: none;
}
.header-navbar{
    z-index: 999;
    opacity: 0;
}
.nav-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #0255FF;
    gap: 1.5em;
    padding: 0;
    margin: 0;
}
.nav-elements li a{
    position: relative;
    text-decoration: none;
    color: #0255FF;
    transition: color .4s ease-out;

}
.nav-elements li a:hover{
    color:white;
}


.logo-space{
    position: fixed;
    z-index: 999;
    margin-top: 0.1%;
    
}
.social-logos{
    margin-top: 1.5%;

}
.social-logos svg path{
    position: relative;
    fill: var(--blue);
    transition: fill .4s ease-out;
}

.social-logos:hover svg path {
    fill: white;
    transition: fill .4s ease-out;
}

img.kash-logo{
    width: 80px;
    height: 34.5px;
    display: block; 
}
img.menu-logo{
    margin-top: -13%;
    width: 34.5px;
    height: 34.5px;
    display: block;
    transition: var(--transtion-time);
    cursor: pointer;
}

.navbar-space{
    position: fixed;
    z-index: 999;
    margin-top: 0.35%;
    left:96.2vw;
}


/* home page */
.homepage{
    height:100vh;
    width: 100vw;
     background-color: var(--cont-hp)
}
.intro-text{
    position: relative;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:30%;
    font-size: 80px;

}


/* page 1 */
.page-1{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
svg.turb{
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.displacement {
    filter: url(#displacementFilter);
}
.aboutme-text{
    position: absolute;
    color: white;
    font-size: 80px;
    width: 80vw;
    left: 80px;
    top: 120%;
    margin-left: 2vw;
    z-index: 1;
}



/* page 2 */


.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    gap:4vmin;
    background-color: black;
}
section{
    width: 50vw;
    padding: 5vw 1vw;
    display: block;
}


.scroll-progress{
position: absolute;
width: 50vw;
left: 20vw;
top:-7%;
padding: 5vw 5vw;

}
mask{
    width: 0;
}

section.projects-text{
    
    position: relative;
    color: white;
    font-size: 150px;
    margin-right: 50vw;
    width: 200px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    flex-direction: column;
}
    

span#word1{
    position: relative;
    left: 50%;
    
}
span#word2{
    position: relative;
    left: 100%;
    color:var(--blue);

}

/* page 3*/
.page-3{
    height: 100vh;
    width: 100vw;
    background-color: grey;
}
/* page 4 */

.page-4{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}

form{
    background: #1B1C24;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
}
form h1{
    position: relative;
    left: 15%;
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 20px;
    margin-top: 17%;
    font-size: 60px;
}
form input, form textarea{
    position: relative;
    border: 0;
    margin:  10px 0;
    padding: 20px;
    outline: none;
    background:none;
    padding-left: 3px;
    font-size: 16px;
    border-bottom: 1px solid white;
    width: 40vw;
    left: 15%;
}
form input#name, form input#email, form textarea#message{
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.75)

}
form input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: rgb(170, 170, 170);

}
form textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: rgb(170, 170, 170);
}
form button{
    padding: 15px;
    color: white;
    background-color: var(--blue);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 15vw;
    position: relative;
    left: 15%;
    margin-top: 20px;
}

.social-images {
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 40vw;
    height: 100vh;
}

span.socials-bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(-90deg);
    font-size: 170px;
    color: #EEEEEE;
}








